body{margin: 0px;padding: 0px}
*{
	box-sizing: border-box;
	transition:all .3s;
	-moz-transition:all .3s;
	-webkit-transition:all .3s;
	-o-transition:all .3s;
	-ms-transition:all .3s;
}
a{color: inherit;}
main > section#noticias > a{
	position: relative;
}
.artic{
	padding: 0px;
	margin: 0px;
	height: 10%;
	color: black;
	position: relative;
	overflow: hidden;
	background:-moz-linear-gradient(45deg,black 0%,silver 100%);
	background:-webkit-linear-gradient(45deg,#505 0%,purple 50%,#005 100%);
	background:-o-linear-gradient(45deg,#505 0%,purple 50%,#005 100%);
	background:-ms-linear-gradient(45deg,#505 0%,purple 50%,#005 100%);
	background:linear-gradient(45deg,white 0%,silver 100%);
}
.artic img{position:relative}
.artic div{vertical-align: middle;}
.artic div h3{margin-top: 0px;margin-bottom: 0px;}
@media(min-width: 401px){
	.artic img{width: 50%}
	.artic>div{display:flex;flex-direction:column;position:absolute;width:50%;left: 50%;top:0%;padding:1em;text-align:center;overflow:hidden;height:100%}
	.artic div div{height: 75%;text-overflow:clip;display: none;overflow: hidden;}
	.artic:hover img{margin-left: -50%;}
	.artic div h3{position:relative;font-size: 2em;margin: auto;}
	.artic:hover div h3{font-size: 1em;}
	.artic:hover > div{width: 100%;left: 0%;}
	.artic:hover div div{display: block;margin: auto;}

	@media (min-width:741px){
		.artic:hover div h3{font-size: 2em;}
	}
	@media (max-width:740px){
		.artic{width: 100%!important}
	}
}
@media(max-width: 400px){
	.artic img{width:100%!important}
	.artic{width:100%!important}
	.artic div{text-align: center;}
	.artic div h3{padding: .5em 0;}
	.artic div div{display: none;}
}
@media(min-width: 740px){
	main > section#noticias{
    	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    	-moz-column-count: 2; /* Firefox */
    	column-count: 2;
    	-webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    	-moz-column-gap: 0px; /* Firefox */
    	column-gap: 0px;
	}
}
