section#description{
	position: absolute;
	padding: 1em;
	width: 100%;
	text-align: center;
	background: black;
	color: white;
	margin:0;
	padding: 2em;
	transform: translateY(-110%);
	opacity: .8;
}
section#description h1{
	margin-top: 0px;
}
marquee{font-size: 1.7em;}
section#description p{
	font-size: 1.5em;
	text-align: justify;
}
body{background-color: black}
/*
.view{
	animation-name: lol;
	animation-duration: 1s;
	animation-timing-function: linear;
	}
@keyframes lol{
	0%{transform:translateY(100%);}
	12%{transform:translateY(88%);}
	25%{transform:translateY(75%);}
	50%{transform:translateY(50%);}
	75%{transform:translateY(25%);}
	88%{transform:translateY(12%);}
	100%{transform:translateY(0%);}
}
@keyframes fader{
	0%{margin-left:-100%;}
	12%{margin-left:-88%;}
	25%{margin-left:-75%;}
	50%{margin-left:-50%;}
	75%{margin-left:-25%;}
	88%{margin-left:-12%;}
	100%{margin-left:0%;}
}*/