#final{
	width: 100%;
	display: block;
}
#icons{
	width: 100%;
	color:white;
	display: -webkit-flex;
	flex-direction: row;
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}
ul#icons li{
	font-size: 3em;
	flex-grow: 1;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}
ul#icons li:nth-child(1):hover {background-color:#465ed6;}
ul#icons li:nth-child(2):hover {background-color:#00f7e2;}
ul#icons li:nth-child(3):hover {background-color:#e81e1e;}
ul#icons li:nth-child(4):hover {background-color:#465ed6;}